<div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
  <!-- ! Sidebar -->
  <app-sidebar></app-sidebar>
<div class="main-wrapper">
    <!-- ! Main nav -->
    <!-- HeaderComponent to be displayed as part of AppComponent -->
    <app-header></app-header>

    <!-- ! Main -->
    <div>
      <router-outlet></router-outlet>
    </div>
    <!-- ! Footer -->
    <!-- <app-footer></app-footer> -->
  </div>
</div>
<!-- Chart library -->